.App {
  text-align: center;
  background-image: url(./image/background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat  ;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.box{
  background-color: orange;
  width: 80%;
  height: 80%;
  opacity: 0.8;
}

.innerBox{
  background-color: white;
  margin-left: 10%;
  width: 80%;
  height: 80%;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 1;
}

